{% extends "forum/base.html" %}
{% block content %}


<div class="card border-secondary col-mb-ml-auto pb-auto shadow">
    <div class="card-header">
        <div class="article article-text">
            <h1 class="text-secondary text-center">Chat List</h1>
        </div>

     
        <div class="card-body text-secondary article-text">
            {% if chat_list %}
                {% for chat_partner, last_message in chat_list.items %}
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-1.5 bg-light border-right">
                                <img class="rounded-circle article-img mt-3 ml-3" src="{{ chat_partner.profile.image.url }}">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h6 class="card-title text-warning">
                                                                     
                                        <a href="{% url 'chat:chat-window' chat_partner %}">{{ chat_partner }}</a>
                                    
                                    </h6>
                                    <p class="card-text">Last Message: "{{ last_message.message_body }}"<br>
                                                         from: {{ last_message.author }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="card mb-3">
                <div class=" no-gutters">

                    <div class="card-body text-center">
                        <h5 class="card-title">No Chats</a>
                        </h5>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div>&nbsp;</div>
{% endblock content %}