{% extends "forum/base.html" %}
{% load static %}
{% block content%}

<div class="container-fluid">
  <!-- Example row of columns -->






  <div class="card border-secondary col-mb-ml-auto pb-auto shadow">
      <div class="card-header">
          <div class="article article-text text-center">
              <h1 class="text-secondary text-center">{{ forum_name }} Forum</h1>
  
              <span class="article-title ">
                  <a href="{% url 'forum:new-post' forum_name %}" class="btn btn-warning">New Post</a>
                  <a class="btn btn-warning" href="{% url 'forum:home' %}">Return to Forums List</a>
              </span>
          </div>
          <div>&nbsp;</div>

          {% if pinned_messages %}
          <h5 class="text-secondary text-center">Pinned Messages</h5>
            {% for message in pinned_messages %}
              
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-0 bg-warning">
                      <div>&nbsp;</div>
                      <!-- <div class="text-center"> <img class="text-center " src="{% static 'forum/images/message.png' %}" width="32px" height="32px" alt=""></div> -->

                        <div>&nbsp;</div>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <div class="container mb-1 mt-1 ">
                                <div class="row">
                                  <div class="col-4 mt-1">
                                    <span class="article-title">
                                      <a class="article-title text-warning font-weight-bold" href=" {% url 'forum:post-detail' message.forum message.id %}">Pinned: {{ message.title }}</a>
                                    </span>
                                    <span>{{ message.author }}, {{ message.datetime|date:"j/n/y" }}</span>
                                  </div>
                                  <div class="col-2 mt-3">
                                    <span class="article-title">
                                      <img class="mb-2" src="{% static 'forum/images/like.png' %}" width="20px" height="20px" alt="">
                                      {{ message.like_list.count }}
                                    </span>
                                    <span class="article-title">
                        
                                      <img class="mt-1" src="{% static 'forum/images/unlike.png' %}" width="20px" height="20px" alt="">
                                      {{ message.unlike_list.count }}
                                    </span>
                                  </div>


                          
                                </div>

                                
                              </div>  

                              
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
          {% endif %}




        

          {% if main_topics %}
            <h5 class="text-secondary text-center">Forum Posts</h5>
            {% for post in main_topics %}
            
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-0 bg-warning ">
                      <div>&nbsp;</div>
                      <!-- <div class="text-center"> <img class="text-center " src="{% static 'forum/images/message.png' %}" width="32px" height="32px" alt=""></div> -->

                        <div>&nbsp;</div>
                    </div>
                    <div class="col-md-11">
                        <div class="card-body">
                            <div class="container mb-1 mt-1 ">
                                <div class="row">
                                  <div class="col-4 mt-1">
                                    <span class="article-title">
                                      <a class="article-title text-warning font-weight-bold" href=" {% url 'forum:post-detail' post.forum post.id %}">{{ post.title }}</a>
                                    </span>
                                    <span>{{ post.author }}, {{ post.datetime|date:"j/n/y" }}</span>
                                  </div>
                                  <div class="col-2 mt-3">
                                    <span class="article-title">
                                      <img class="mb-2" src="{% static 'forum/images/like.png' %}" width="20px" height="20px" alt="">
                                      {{ post.like_list.count }}
                                    </span>
                                    <span class="article-title">
                        
                                      <img class="mt-1" src="{% static 'forum/images/unlike.png' %}" width="20px" height="20px" alt="">
                                      {{ post.unlike_list.count }}
                                    </span>
                                  </div>


                                  <div class="col-2 article-title text-center mt-1">
                                      {% for message_title, posts_amount in threads_posts_amount.items %}
                                      {% if message_title == post.title %}
                                      <small>Posts: {{ posts_amount }}</small>
                                      {% endif %}
                                      {% endfor %}
                          
                                    </div>
                                    {% for message_title, last_message in messages_details.items %}
                          
                                    {% if message_title == post.title %}
                                    <div class="col-4 mt-1">
                                      {% if last_message != 'None' %}
                                      <small class="text-sm-center">{{ last_message.message_body }}</small><br>
                                      <small class="text-sm-center">{{ last_message.author }},
                                        {{ last_message.datetime|date:"j/n/y-H:i" }}</small>
                          
                                      {% else %}
                                      <small class="text-sm-center">{{ post.message_body }}</small><br>
                                      <small class="text-sm-center">{{ post.author }},
                                        {{ post.datetime|date:"j/n/y-H:i" }}</small>
                                      {% endif %}
                                    </div>
                                    {% endif %}
                          
                                    {% endfor %}
                                </div>

                                
                              </div>  

                              
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h1 class="text-secondary text-center">No Posts.</h1>
            {% endif %}
</div>
</div>
<div>&nbsp;&nbsp;</div>

<div class="card-body text-secondary article-text text-center"> 
    {% if main_topics.has_previous %}
        <a class="btn btn-outline-warning mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-warning mb-4" href="?page={{ main_topics.previous_page_number }}">Previous</a>
    {% endif %}
    
    {% for num in main_topics.paginator.page_range %}
        {% if main_topics.number == num %}
        <a class="btn btn-warning mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > main_topics.number|add:'-3' and num < main_topics.number|add:'3' %}
        <a class="btn btn-outline-warning mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    
    {% if main_topics.has_next %}
        <a class="btn btn-outline-warning mb-4" href="?page={{ main_topics.next_page_number }}">Next</a>
        <a class="btn btn-outline-warning mb-4" href="?page={{ main_topics.paginator.num_pages }}">Last</a>
    {% endif %}
</div>

{% endblock content%}