{% extends "forum/base.html" %}
{% load static %}
{% block content%}

<div class="container-fluid">
  <!-- Example row of columns -->

  <!-- display-5 Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron alert alert-light border border-secondary shadow">
    {% if user.is_authenticated %}
    <h4 class="article-text text-center text-justify text-sm-center">ברוכים הנמצאים</h4>
    <h5 class="article-text text-center text-justify text-sm-center">{{ user.username }}</h5>

  </div>
  {% else %}
  <h4 class="article-text text-center">Welcome!</h4>
  <p class="article-text p-1 text-center">Please sign up for our service in order to enjoy this great community!</p>
  <p class="text-center"><a class="btn btn-outline-warning shadow" href="{% url 'register' %}" role="button">Signup
      &raquo;</a></p>
  {% endif %}



  {% for category in forum_category %}

  <div class="card border-secondary col-mb-ml-auto pb-auto shadow">
    <div class="card-header">

      <div class="article article-text">
        {{ category.name }}
      </div>


    </div>
  </div>
  <div class="mb-1"></div>
  <div class="card  border-secondary shadow">

    {% for forum in category.forums.all %}
    <div class="container mb-1 mt-1 ">
      <div class="row">
          <div class="col-1">
              <img src="{% static 'forum/images/forum.png' %}" width="32px" height="32px" alt="">
            </div>
        <div class="col-3">
          
          <a class="article-title" href="{% url 'forum:forums-list' forum.name %}">{{ forum }}</a>
        </div>
        {% for forum_name, details in forum_details.items %}
         
          {% if forum_name == forum.name %}
          <div class="col-2 ">
              {{ details.0 }} Thread{{ details.0|pluralize}}
          </div>
          <div class="col-2">
              {{ details.1 }} Message{{ details.1|pluralize}}
            <!-- 0 Messages -->
          </div>
          <div class="col-3">
              
              <small class="text-sm-center">{{ details.2.message_body }}</small>
              {% if details.2 != "None" %}
              <br>
              <small class="text-sm-center">{{ details.2.author }}, {{ details.2.datetime|date:"j/n/y-H:i" }}</small>
              {% endif %}
          </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>




  {% endfor %}
</div>

<div class="pb-4 pr-3"></div>
{% endfor %}
</div>


{% endblock content%}