{% extends "forum/base.html" %}
{% load static %}
{% block content%}

<div class="container-fluid">
  <div class="jumbotron alert alert-light border border-light shadow">
    {% if user.is_authenticated %}
    <h5 class="article-text text-center text-justify text-sm-center">Welcome {{ user.username }}!</h5>
    {% else %}
    <h4 class="article-text text-center">Welcome!</h4>
    <p class="article-text p-1 text-center">Please sign up for our service in order to enjoy this great community!</p>
    <p class="text-center"><a class="btn btn-outline-warning shadow" href="{% url 'register' %}" role="button">Signup
        &raquo;</a></p>
    {% endif %}
  </div>

  {% for category in forum_category %}

  <div class="card border-light col-mb-ml-auto pb-auto shadow">
    <div class="card-header">

      <div class="article article-text text-center">
        {{ category.name }}
      </div>
    </div>

    {% for forum in category.forums.all %}
    <div align="center" class="card-body border border-light">
      <div class='row article-title font-weight-bold '>
        <div class='column'>
          <div class='white-column ml-2 mt-2'>
            <span><img src="{% static 'forum/images/forum.png' %}" width="32px" height="32px"></span>
            <span>
              &nbsp;<a class="article-title text-warning font-weight-bold"
                href="{% url 'forum:forums-list' forum.name %}">{{ forum }}</a>
            </span>
          </div>
        </div>
        {% for forum_name, details in forum_details.items %}
        {% if forum_name == forum.name %}
        <div class='column'>
          <div class='white-column ml-2 mt-2'>
            {{ details.0 }} Thread{{ details.0|pluralize}}
          </div>
        </div>
        <div class='column'>
          <div class='white-column ml-2 mt-2'>
            {{ details.1 }} Message{{ details.1|pluralize}}
          </div>
        </div>
        <div class='column'>
          <div class='double-column'>
            <div class='white-column ml-2 mt-2'>
              <small class="text-sm-center">{{ details.2.message_body }}</small>
              {% if details.2 != "None" %}
              <br>
              <small class="text-sm-center">{{ details.2.author }}, {{ details.2.datetime|date:"j/n/y-H:i" }}</small>

              {% endif %}
            </div>
           
          </div>
          
        </div>
        {% endif %}
        
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="pb-3 pr-3"></div>
  {% endfor %}
</div>
{% endblock content%}