{% extends "forum/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card border-secondary col-mb-ml-auto pb-auto shadow">
    <div class="card-header">
        <div class="article article-text">
            <h1 class="text-secondary text-center">New Post</h1>
        </div>

                    {% if new_post_form.reply %}
                    <div class="card-body text-secondary article-text">
                                <div class="card mb-3">
                                    <div class="row no-gutters">
                                        <div class="col-md-1 bg-warning"> &nbsp; </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">Reply to:</h5>
                                                {% if new_post_form.reply_to_main_thread != None %}
                                                    {{ new_post_form.reply_to_main_thread.message_body }}
                                                {% elif new_post_form.reply_to_comment != None %}
                                                    {{ new_post_form.reply_to_comment.message_body }}
                                                {% else %}
                                                    {{ new_post_form.reply_to_older_reply.message_body }}
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                    {% endif %}
  
        <div class="card-body text-secondary article-text">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ new_post_form|crispy }}
                </fieldset>
                <div class="form-group text-center">
                    <button class="btn btn-outline-warning" type="submit">Publish!</button>
                    {% if kwargs.pk %}
                    <a class="btn btn-outline-secondary"
                        href="{% url 'forum:post-detail' kwargs.forum kwargs.pk %}">Return Back</a>
                    {% else %}
                    <a class="btn btn-outline-secondary"
                      href="{% url 'forum:forum-board' kwargs.forum %}">Return Back</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
<div>&nbsp;</div>
{% endblock content %}