{% extends "forum/base.html" %}

{% block content %}


<div class="card border-secondary col-mb-ml-auto pb-auto shadow">
    <div class="card-header">

        <div class="article article-text">
            <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
            <small class="text-muted">{{ object.date_objected|date:"j/n/y" }}</small>
            {% if object.author == user %}
            <div>
                    edit/remove.........
            </div>
            {% endif %}
        </div>

    </div>
    <div class="card-body">
            <div class="row no-gutters">
                <div class="col-md-3 bg-warning">
                    <!-- <img src="..." class="card-img" alt="..."> -->
                    <p class="card-text text-muted text-center">Image...</p>
                    <p class="card-text text-muted text-center">{{ post.author }}</p>
                    <p class="card-text text-muted text-center">Amount of Messages</p>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.message_body }}</p>
                        <p class="card-text"><small class="text-muted">{{ post.datetime|date:"j/n/y-H:i" }}</small></p>
                    </div>
                </div>
            </div>
        </div>

    {% for message in messages_thread %}
    <hr/>
    <div class="card-body">
            <div class="row no-gutters">
                <div class="col-md-3 bg-warning">
                        <p class="card-text text-muted text-center">Image...</p>
                        <p class="card-text text-muted text-center">{{ message.author }}</p>
                        <p class="card-text text-muted text-center">Amount of Messages</p>
                </div>
                <div class="col-md-8">
                    <div class="card-body">

                        {% if message|stringformat:"s" == "Python-Comment" %}
                               this is comment
                        {% else %}
                                this is reply
                        {% endif %}

                        <p class="card-text">{{ message.message_body }}</p>
                        <p class="card-text"><small class="text-muted">{{ message.datetime|date:"j/n/y-H:i" }}</small></p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}





    <div class="card-body text-secondary article-text">
        <p><a class="btn btn-warning" href="{% url 'forum:forum-board' post.forum %}">Return</a></p>
    </div>

</div>
<div class="pb-4 pr-3"></div>

{% endblock content %}