
{% extends "forum/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div class="card border-secondary shadow">
    <h5 class="text-center article-text text-secondary pt-2">Mail with instructions has been sent to your mail.</h5>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
{% endblock content %}