
{% extends "forum/base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<div class="card border-secondary col-mb-ml-auto pb-auto shadow">
    <div class="card-header ">
        <div class="article article-text ">
            <h1 class="text-secondary text-center">Renew Password</h1>
        </div>
        <div class="card-body text-secondary article-text border-top pt-3"">
                <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-warning shadow p-2 btn-lg" type="submit">
                    Renew Now!
                </button>
            </div>
            </form>
        </div>
    </div>
</div>
<div>&nbsp;</div><div>&nbsp;</div>
{% endblock content%}